<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Vaksin Monitoring</title>
        <link rel="icon" href="../img/yakes.png">

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="../css/metisMenu.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../css/startmin.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- <link rel="stylesheet" href="../css/dtsel.css" /> -->

        <!-- <link href = "https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
         rel = "stylesheet"> -->

        <link href="../css/jquery-ui.css" rel="stylesheet" type="text/css">

        <!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->

    </head>
    <body>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index_3.html">
                        <!-- <img src="../img/logo.png"> -->
                        <img src="../img/logo.png" alt="Yakes Telkom" class="logo">
                        <!-- <font color="white">Vaksin Monitoring</font> -->
                    </a>
                </div>
                    
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-right navbar-top-links">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> NIK <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Keluar Aplikasi</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
                                        <img src="../img/male.png" alt="TEST" class="online" />
                                    </a>
                                    <label class="control-label"><font color="#337ab7">NIK</font></label>
                                </div>
                                <!-- /input-group -->
                            </li>
                            <li>
                                <a href="tambah_peserta_3.html"><i class="fa fa-user-plus fa-fw"></i> Registrasi Data Peserta</a>
                            </li>
                            <li>
                                <a href="index_3.html" class="active"><i class="fa fa-edit fa-fw"></i> Update Data Vaksin</a>
                            </li>
                            <li>
                                <a href="list_monitoring.html"><i class="fa fa-list-ul fa-fw"></i> Monitoring Pasca Vaksinasi</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- Page Content -->
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Update Data Peserta Vaksin</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Update Data Peserta Vaksin
                                </div>
                                <div class="panel-body">
                                    <form role="form" action="{% url 'mainappvaksin:updatedatapeserta' %}" method="post">
                                        <fieldset>
                                            <div class="row" hidden>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="control-label"><font color="red">*</font>ID</label>
                                                        <div class="input-group">
                                                            <input class="form-control" type="text" name="id_peserta" id="id_peserta" value="{{datapeserta.0.id}}" readonly>
                                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label class="control-label"><font color="red">*</font>NIK</label>
                                                    <div class="form-group input-group">
                                                        <input type="text" class="form-control" name="nik" id="nik" value="{{datapeserta.0.nik}}" readonly>
                                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="control-label"><font color="red">*</font>Nama Peserta</label>
                                                        <select class="form-control" name="no_ktp_flag" id="no_ktp_flag" required>
                                                            <option value="" disabled selected>-</option>
                                                            {% for data in datapeserta %}
                                                                <option value="{{data.no_ktp}}">{{data.nama}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Sudah install Aplikasi Peduli Lindungi?</label>
                                                        <div class="radio">
                                                            <label class="radio-inline">
                                                                <input type="radio" name="sudah_install_peduli_lindungi" id="sudah_install_peduli_lindungiy" value="Y" checked>
                                                                Sudah
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" name="sudah_install_peduli_lindungi" id="sudah_install_peduli_lindungit" value="T">
                                                                Belum
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Apakah Anda bersedia untuk didaftarkan?</label>
                                                        <div class="radio">
                                                            <label class="radio-inline">
                                                                <input type="radio" name="bersedia_vaksin" id="bersedia_vaksiny" value="Y" checked>
                                                                Ya
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" name="bersedia_vaksin" id="bersedia_vaksint" value="T">
                                                                Tidak
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group" id="groupmendaftarke">
                                                        <label class="control-label">Mendaftar ke:</label>
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" name="mendaftarke" id="mendaftarketempatkerja" value="tempatkerja">Melalui tempat kerja
                                                            </label>
                                                        </div>
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" name="mendaftarke" id="mendaftarkedatadinkes" value="pendataandinkes">Pendataan Puskesmas/Dinkes
                                                            </label>
                                                        </div>
                                                        <div class="radio">    
                                                            <label>
                                                                <input type="radio" name="mendaftarke" id="mendaftarkemandiridinkes" value="mandiridinkes">Daftar mandiri ke Dinkes
                                                            </label>
                                                        </div>
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" name="mendaftarke" id="mendaftarke119" value="119">Daftar mandiri ke 119 EXT 9
                                                            </label>
                                                        </div>
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" name="mendaftarke" id="mendaftarkebelum" value="belum" checked>Belum daftar
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group" id="groupposisiterdaftar">
                                                        <label class="control-label">Posisi terdaftar dan teregistrasi:</label>
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" name="posisi_terdaftar" id="posisi_terdaftarinfopuskesmas" value="infopuskesmas">Informasi Puskesmas
                                                            </label>
                                                        </div>
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" name="posisi_terdaftar" id="posisi_terdaftarsms" value="smsblast">SMS Blast
                                                            </label>
                                                        </div>
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" name="posisi_terdaftar" id="posisi_terdaftarpeduli" value="pedulilindungi">Peduli Lindungi
                                                            </label>
                                                        </div>
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" name="posisi_terdaftar" id="posisi_terdaftarkeplsms" value="plsms">SMS Blast dan Peduli Lindungi
                                                            </label>
                                                        </div>
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" name="posisi_terdaftar" id="posisi_terdaftarbelum" value="belum" checked>Belum
                                                            </label>
                                                        </div>
                                                    </div> 
                                                </div>
                                            </div>
                                            <div class="row" id="groupinformasivaksin">
                                                <div class="col-lg-12"> 
                                                    <div class="panel tabbed-panel panel-default">
                                                        <div class="panel-heading clearfix">
                                                            <div class="panel-title pull-left">Informasi Vaksin</div>
                                                            <div class="pull-right">
                                                                <ul class="nav nav-tabs">
                                                                    <li class="active"><a href="#tab-default-1" data-toggle="tab"><i class="fa fa-medkit txt-color-darken"></i> Vaksin 1</a></li>
                                                                    <li><a href="#tab-default-2" data-toggle="tab"><i class="fa fa-medkit txt-color-darken"></i> Vaksin 2</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="panel-body">
                                                            <div class="tab-content">
                                                                <div class="tab-pane fade in active" id="tab-default-1">
                                                                    <form role="form">
                                                                        <div class="row">
                                                                            <div class="col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label class="control-label">Jadwal Vaksin 1</label>
                                                                                    <div class="form-group input-group">
                                                                                        <input class="form-control" type="text" name="jadwal_vaksin1" id="jadwal_vaksin1" placeholder="Kosongkan jika belum ada jadwal vaksin">
                                                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label>Sudah Vaksin 1?</label>
                                                                                    <div class="radio">
                                                                                        <label class="radio-inline">
                                                                                            <input type="radio" name="status_vaksin1" id="status_vaksin1y" value="Y">Sudah
                                                                                        </label>
                                                                                        <label class="radio-inline">
                                                                                            <input type="radio" name="status_vaksin1" id="status_vaksin1t" value="T" checked>Belum
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label>Tanggal Pelaksaanaan Vaksin 1</label>
                                                                                    <div class="form-group input-group">
                                                                                        <input class="form-control" type="text" name="pelaksanaan_vaksin1" id="pelaksanaan_vaksin1" placeholder="Kosongkan jika belum ada jadwal vaksin">
                                                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label>Nama Merk Vaksin 1</label>
                                                                                    <div class="form-group input-group">
                                                                                        <input class="form-control" name="merk_vaksin1" id="merk_vaksin1" placeholder="Kosongkan jika belum ada jadwal vaksin">
                                                                                        <span class="input-group-addon"><i class="fa fa-medkit"></i></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label>Tempat Pelaksanaan Vaksin 1</label>
                                                                                    <div class="form-group input-group">
                                                                                        <input class="form-control" type="text" name="tempat_vaksin1" id="tempat_vaksin1" placeholder="Kosongkan jika belum ada jadwal vaksin">
                                                                                        <span class="input-group-addon"><i class="fa fa-hospital-o"></i></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                <div class="tab-pane fade" id="tab-default-2">
                                                                    <form role="form">
                                                                        <div class="row">
                                                                            <div class="col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label>Jadwal Vaksin 2</label>
                                                                                    <div class="form-group input-group">
                                                                                        <input class="form-control" type="text" name="jadwal_vaksin2" id="jadwal_vaksin2" placeholder="Kosongkan jika belum ada jadwal vaksin">
                                                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label>Sudah Vaksin 2?</label>
                                                                                    <div class="radio">
                                                                                        <label class="radio-inline">
                                                                                            <input type="radio" name="status_vaksin2" id="status_vaksin2y" value="Y">Sudah
                                                                                        </label>
                                                                                        <label class="radio-inline">
                                                                                            <input type="radio" name="status_vaksin2" id="status_vaksin2t" value="T" checked>Belum
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label>Tanggal Pelaksaanaan Vaksin 2</label>
                                                                                    <div class="form-group input-group">
                                                                                        <input class="form-control" type="text" name="pelaksanaan_vaksin2" id="pelaksanaan_vaksin2" placeholder="Kosongkan jika belum ada jadwal vaksin">
                                                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label>Nama Merk Vaksin 2</label>
                                                                                    <div class="form-group input-group">
                                                                                        <input class="form-control" type="text" name="merk_vaksin2" id="merk_vaksin2" placeholder="Kosongkan jika belum ada jadwal vaksin">
                                                                                        <span class="input-group-addon"><i class="fa fa-medkit"></i></span>
                                                                                    </div>
                                                                                </div>
                                                                                
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label>Tempat Pelaksanaan Vaksin 2</label>
                                                                                    <div class="form-group input-group">
                                                                                        <input class="form-control" type="text" name="tempat_vaksin2" id="tempat_vaksin2" placeholder="Kosongkan jika belum ada jadwal vaksin">
                                                                                        <span class="input-group-addon"><i class="fa fa-hospital-o"></i></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="pull-right">    
                                                        <a class="btn btn-primary" href="#">
                                                            <i class="fa fa-save fa-fw"></i> Submit
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>                
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery -->
        <script src="../js/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="../js/metisMenu.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="../js/startmin.js"></script>

        <!-- <script src="../js/dtsel.js"></script> -->
        <!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script> -->

        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script type="text/javascript">

            $(function() {

                $('#jadwal_vaksin1').datepicker({
                    dateFormat : 'yy-mm-dd',
                    changeYear: true,
                    yearRange: '1920:2025',
                    prevText : '<i class="fa fa-chevron-left"></i>',
                    nextText : '<i class="fa fa-chevron-right"></i>'
                });
                $('#pelaksanaan_vaksin1').datepicker({
                    dateFormat : 'yy-mm-dd',
                    changeYear: true,
                    yearRange: '1920:2025',
                    prevText : '<i class="fa fa-chevron-left"></i>',
                    nextText : '<i class="fa fa-chevron-right"></i>',
                });
                $('#jadwal_vaksin2').datepicker({
                    dateFormat : 'yy-mm-dd',
                    changeYear: true,
                    yearRange: '1920:2025',
                    prevText : '<i class="fa fa-chevron-left"></i>',
                    nextText : '<i class="fa fa-chevron-right"></i>',
                });
                $('#pelaksanaan_vaksin2').datepicker({
                    dateFormat : 'yy-mm-dd',
                    changeYear: true,
                    yearRange: '1920:2025',
                    prevText : '<i class="fa fa-chevron-left"></i>',
                    nextText : '<i class="fa fa-chevron-right"></i>',
                });
             });            
        </script>
    </body>
</html>
